@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9EDEC;
    height: 100vh; /* 화면 높이만큼 설정하여 중앙 배치 */
    margin: 0; 
}

.container {
    width: 1288px;
    height: 703px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: var(--White, #F8F8F8);
    box-shadow: 0px 13px 28.7px -18px rgba(132, 91, 91, 0.29);
}

h1 {
    color: var(--White, #F8F8F8);
    text-align: center;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 130% */
}

input {
    border: none;
}

h2 {
    color: var(--White, #F8F8F8);
    text-align: center;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 150% */
}

/* input[type="file"] 숨기기 */
input[type="file"] {
    display: none; /* 기본 파일 선택 버튼 숨김 */
}

/* 파일 업로드 버튼 스타일링 */
.file-upload-btn {
    color: var(--White, #F8F8F8);
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    display: flex;
    width: 188px;
    height: 60px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-decoration: none;
    border-radius: 8px;
    background: var(--Primary, #F50202);
    box-shadow: 0px 4px 15.9px 0px rgba(67, 64, 64, 0.25);
    cursor: pointer;
    text-align: center;
}

.file-upload-btn:hover {
    background: var(--Primary-Dark, #d40202); /* 버튼 호버 시 색상 변경 */
}

.file-upload-btn:active {
    box-shadow: 0px 4px 10px 0px rgba(67, 64, 64, 0.5); /* 버튼 클릭 시 효과 */
}

.button:hover {
    background: var(--Primary, #a30909);
}

.button.mainbutton {
    width: 276px;
}

.mainbutton {
    color: var(--White, #F8F8F8);
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-decoration: none;
    border-radius: 8px;
    background: var(--Primary, #F50202);
    box-shadow: 0px 4px 15.9px 0px rgba(67, 64, 64, 0.25);
    cursor: pointer;
}


p {
    color: var(--White, #F8F8F8);
    text-align: center;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

.meatimg {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    justify-content: center;
    align-items: center;
    width: 1162px;
    height: 181px;
    flex-shrink: 0;
    border-radius: 8px;
    background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.33) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), 
    url('img/meat.png') lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 25.4px 0px rgba(207, 151, 151, 0.25);
}

.fileupload {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 1162px;
    height: 381px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 25.4px 0px rgba(207, 151, 151, 0.25);
    gap: 16px; /* 요소 사이 간격 */
}

.afile {
    color: var(--Black, #222);
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px; /* 150% */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

button {
    border: none;
}

.loading {
    animation: spin 3s linear infinite;
}

.resultname {
    color: var(--Gray, #9D9D9D);
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 136.364% */
}

.result {
    color: var(--Primary---Hover, #AF0306);
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
}

.accuancy { /* 철자 뭐임 ㅋㅋㅋ */
    color: var(--Primary---Action, #4D0000);
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 200% */
}

.resultimg {
    overflow: hidden;
    width: 866px;
    height: 381px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 9.9px 0px rgba(200, 159, 159, 0.25);
}

.resultimg img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 이미지가 잘리지 않고 div 크기에 맞추어 표시됨 */
}


.resultgrade {
    gap:8px;
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    justify-content: center;
    align-items: center;
    width: 276px;
    height: 180px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 9.9px 0px rgba(200, 159, 159, 0.25);
}

.resultaccuancy {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    justify-content: center;
    align-items: center;
    width: 276px;
    height: 101px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.87);
    box-shadow: 0px 4px 9.9px 0px rgba(200, 159, 159, 0.25);
}

.resultflex {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.resultcontainer {
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}